<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <% if (isadmin) { %>
                    <li><a href="/users"><span class="glyphicon glyphicon-user"></span> Users</a></li>
                    <% } %>
                        <li><a href="/dashboard"><span class="glyphicon glyphicon-question-sign "></span> Surveys</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="/profile"><span class="glyphicon glyphicon-user "> </span> &nbsp;<%= user.fname %></a>
                </li>
                <a href="/logout" class="btn btn-info navbar-btn">
                    <span class="glyphicon glyphicon-log-out "></span> Log out
                </a>
            </ul>
        </div>
    </div>
</nav>