<head>
    <meta charset="utf-8" />
    <title>Survey System</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.0/ace.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.0/worker-json.js" type="text/javascript" charset="utf-8"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.0/mode-json.js" type="text/javascript" charset="utf-8"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <script src="https://www.chartjs.org/dist/2.9.3/Chart.min.js"></script>
    <script src="https://www.chartjs.org/samples/latest/utils.js"></script>


    <script src="/../asset/js/knockout-debug.js"></script>
    <script src="/../asset/js/survey-knockout.js"></script>

    <link rel="stylesheet" href="/../asset/css/survey.css" />
    <script src="/../asset/js/SurveyCreator.js"></script>
    <link rel="stylesheet" href="/../asset/css/survey-creator.css" />

    <script type="text/javascript" src="/../asset/js/colorpicker.js"></script>
    <link rel="stylesheet" href="/../asset/css/colorpicker.css" type="text/css" />

    <script type="text/javascript" src="/../asset/js/jquery.fontselect.js"></script>
    <link rel="stylesheet" href="/../asset/css/jquery.fontselect.css" type="text/css" />

    <script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" />

    <link rel="stylesheet" href="/../index.css" />
    <link rel="stylesheet" href="/../sign.css" />
</head>